---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	  <h2> LGTB STORE </h2>
	  <Logo size='200' fill='pink' />
	</main>
</Layout>


<style>
 h2 {
	 color: #fff;
	 font-size: 3.3rem;
 }
</style>